{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Polling System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h4>Hi {{ name }}, welcome to Polling section. </h3>
    <form action="/register/" method="post">  {% csrf_token %}
    <div class="container">
        <h2>Which one do you like?</h2>
        <form action="">
            <label>
                <input type="radio" name="radio" checked/>
                <span>HTML</span>
            </label>
            <label>
                <input type="radio" name="radio" />
                <span>CSS</span>
            </label>
            <label>
                <input type="radio" name="radio" />
                <span>JAVASCRIPT</span>
            </label>
        </form>
    </div>
</form>
</body>
</html>