{% load static %}
<html>
<head>
	<title>
		User | Login page
	</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div>
	</div>
    <div>
	{{result}}
	</div>
	<form action="/login/" method="post">  {% csrf_token %}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="email" name ="email" required aria-describedby="emailHelp">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Password</label>
		    <input type="password" class="form-control" id="psw" name ="psw" required aria-describedby="emailHelp">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<div class="col-6">
		  	Don't have an account? Please<span><a href="/register/" > Register here</a></span>
		  </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>