@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Bangers", sans-serif;
    color: #f1c40f;
    font-size: calc(1em + 1.25vw);
    background-color: #f4e7ec;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
}
.container h2{
    margin-bottom: 2rem;
    color: #fff;
    letter-spacing: 2px;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
label{
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
 label span{
     display: flex;
     align-items: center;
     padding: .375em .75em .375em .375em;
     border-radius: 99em;
     transition: .25s ease;
 }
 label input{
     visibility: hidden;
     position: absolute;
 }
 label span::before{
     content: "";
     display: flex;
     flex-shrink: 0;
     background-color: #fff;
     width: 1.5em;
     height: 1.5em;
     border-radius: 50%;
     margin-right: .375em;
     transition: .25s ease;
     box-shadow: inset 0 0 0 0.125em rgb(235, 66, 0);
 }


 label input:checked + span{
     background-color: #f1c40f;
     color: #333;
 }
 label input:checked + span:before{
    box-shadow: inset 0 0 0 0.4375em rgb(235, 66, 0);
 }